.tng-About-title {
  color: var(--color-blue-33);
  font-size: 2em;
  letter-spacing: 0.15625em;
  margin-top: 20px;
  text-align: center;
}

.tng-About-mainImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 62.50vw;
  max-height: 300px;
}

.tng-About-content {
  margin: 0 auto;
  max-width: 780px;
}

.tng-About-text {
  color: var(--color-gray-13);
  line-height: 1.2;
  margin: 20px 20px 15px;
}

@media (min-width: 781px) {
  /* increase text size */
  .tng-About {
    font-size: 1.25em;
  }

  /* increase the line-height */
  .tng-About-text {
    line-height: 1.3;
  }
}
