.tng-Article {
  margin-bottom: 25px;
}

/* Music-Only Indicator */

.tng-Article-indicator {
  background-color: var(--color-orange-52);
  color: white;
  display: none;
  font-size: 16px;
  height: 22px;
  left: 0;
  line-height: 22px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 10;
}

.tng-Article-indicator.is-visible {
  display: block;
}

/* Article Content */

.tng-Article-content {
  background-color: var(--color-gray-98);
  height: 100%;
  margin: 0 auto;
  max-width: 780px;
  overflow-y: auto;
}

.tng-Article-content.is-musicOnly {
  padding-top: 22px;
}

/* Links To Other Articles */

.tng-Article-linksToArticles {
  margin: 20px 0;
}

@media (min-width: 781px) {
  /* increase the text height by 25% */
  .tng-Article {
    font-size: 1.25em;
  }

  /* place the indicator below the desktop nav bar and add a box-shadow */
  .tng-Article-indicator {
    box-shadow: 0 1px 10px var(--color-black-0-30);
    top: 50px;
  }

  /* get the links centered on the page*/
  .tng-Article-linksToArticles {
    margin: 20px auto 0;
    max-width: 780px;
  }
}
