.tng-Article {
  margin-bottom: 25px;
}

/* Music-Only Indicator */

.tng-Article-indicator {
  background-color: #E28628;
  color: #FFFFFF;
  display: none;
  height: 22px;
  left: 0;
  line-height: 22px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 10;
}

.tng-Article-indicator.is-visible {
  display: block;
}

/* Article Content */

.tng-Article-content {
  background-color: hsl(0, 0%, 98%);
  height: 100%;
  margin: 0 auto;
  max-width: 780px;
  overflow-y: auto;
}

.tng-Article-content.is-musicOnly {
  padding-top: 22px;
}

/* Links To Other Articles */

.tng-Article-linksToArticles {
  margin: 20px 0;
}

@media (min-width: 781px) {
  /* get the links centered on the page*/
  .tng-Article-linksToArticles {
    margin: 20px auto 0;
    max-width: 780px;
  }
}
