.tng-Home-pageArticles {
  margin-bottom: 60px;
}

.tng-Home-item + .tng-Home-item {
  margin-top: 40px;
}

.tng-Home-category {
  color: hsl(138, 82%, 28%);
  line-height: 1.5;
  text-decoration: none;
}

.tng-Home-date {
  color: hsl(193, 66%, 33%);
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
}

.tng-Home-articleSummary {
  line-height: 1.4;
  padding: 5px 15px 0;
  word-spacing: 0.1em;
}
