.tng-NotFound {
  background-color: var(--color-gray-98);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.tng-NotFound-background {
  animation: moveBg 5s linear infinite;
  background-size: 100px auto;
  height: calc(100vh + 100px);
  position: absolute;
  top: 0;
  width: calc(100vw + 100px);
  z-index: 1;

  /* image is from https://svgsilh.com/image/987117.html, belongs to Public Domain */
  background-image: url('../myAssets/images/InterlockSquares.svg');
}

.tng-NotFound-msgContainer {
  background: white;
  border-color: var(--color-red-27);
  border-style: groove groove double double;
  border-width: 12px;
  left: 50%;
  opacity: 1;
  max-width: 400px;
  padding: 10px 10px 30px 10px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  z-index: 10;
}

.tng-NotFound-link {
  color: var(--color-blue-33-85);
  font-weight: bold;
  text-decoration: underline;
}

@keyframes moveBg {
  0% {
    transform: translate(-75px, -50px);
  }

  25% {
    transform: translate(-25px, -50px);
  }

  50% {
    transform: translate(-25px, 0);
  }

  75% {
    transform: translate(-75px, 0);
  }

  100% {
    transform: translate(-75px, -50px);
  }
}
