[build]
  # Directory that contains the deploy-ready files
  publish = "build/"

  # Default build command
  command = "yarn run build"

  [build.environment]
    YARN_VERSION = "1.17.3"

# This redirect rule is required for Single Page Applications
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
