.tng-MobileNav {
  background-color: var(--color-blue-33-85);
  bottom: 0;
  height: 100vh;
  left: 100vw;
  position: fixed;
  transition: transform 250ms;
  width: calc(100vw - 63px);
}

.tng-MobileNav.is-visible {
  transform: translate3d(calc(63px - 100vw), 0, 0);
}

.tng-MobileNav-nav {
  bottom: 225px;
  position: absolute;
  right: 25px;
}

.tng-MobileNav-navList {
  list-style-type: none;
  margin: 0 0 0 25px;
  padding: 0;
  text-align: right;
}

.tng-MobileNav-navItem {
  color: var(--color-gray-98);
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4;
  text-decoration: none;
}

.tng-MobileNav-navItem--home {
  margin-bottom: 1.7em;
}

.tng-MobileNav-navItem--about {
  margin-top: 1.7em;
}

.tng-MobileNav-closeMenuBtn {
  background-color: var(--color-gray-94-74);
  bottom: 0;
  height: 45px;
  right: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.tng-MobileNav-closeBtnImg {
  height: auto;
  width: 35px;
}
