.tng-MobileStickyBar {
  background-color: var(--color-gray-94-95);
  bottom: 0;
  box-shadow: 0 -1px 10px var(--color-black-0-11);
  height: 45px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;
}

.tng-MobileStickyBar-smallLogo {
  height: 30px;
  margin: 7px 0 0 10px;
  width: auto;
}

.tng-MobileStickyBar-actionBtns {
  float: right;
}

.tng-MobileStickyBar-btn {
  border-left: 1px solid var(--color-blue-33);
  height: 45px;
  width: 64px;
}

.tng-MobileStickyBar-img {
  height: auto;
  vertical-align: middle;
}

.tng-MobileStickyBar-img--eye {
  width: 32px;
}

.tng-MobileStickyBar-img--fullScreen {
  width: 28px;
}

.tng-MobileStickyBar-img--menu {
  width: 24px;
}
