.tng-ArticleContent-logoContainer {
  height: 55px;
  line-height: 55px;
  text-align: center;
}

.tng-ArticleContent-logo {
  height: auto;
  vertical-align: middle;
  width: 280px;
}

.tng-ArticleContent-category {
  color: hsl(138, 82%, 28%);
  line-height: 1.5;
  text-decoration: none;
}

.tng-ArticleContent-publishDate {
  font-size: 0.75em;
  line-height: 1.25;
}

.tng-ArticleContent-text {
  color: hsl(0, 0%, 13%);
  line-height: 1.4;
  margin: 40px 15px 0 15px;
  word-spacing: 0.1em;
}
