.tng-ViewSelector {
  background-color: var(--color-black-0-88);
  bottom: 0;
  color: var(--color-gray-80);
  display: flex;
  flex-direction: column;
  font-size: 1.625em;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transform: scale(0.75, 0.75);
  transition: transform 300ms, opacity 300ms;
  z-index: 100;
}

.tng-ViewSelector.is-visible {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}

.tng-ViewSelector-title {
  margin-bottom: 5px;
}

.tng-ViewSelector-viewMode {
  color: var(--color-green-28);
  font-size: 1.6em;
  margin-top: 15px;
  opacity: 0.85;
}

.tng-ViewSelector-viewMode.is-selected {
  font-weight: bold;
  opacity: 1;
  position: relative;
}

.tng-ViewSelector-viewMode.is-selected:before {
  background-image: url('../../myAssets/images/arrow-right-outline-48px-green.png');
  background-size: contain;
  content: '';
  display: block;
  height: 24px;
  left: -30px;
  position: absolute;
  top: 0.3em;
  width: 24px;
}

.tng-ViewSelector-closeBtn {
  margin-top: 70px;
}
