.tng-ArticleHeader {
  /* this is to compensate for the titleBox shift */
  margin-bottom: -30px;
}

.tng-ArticleHeader-imgContainer {
  height: 0;
  padding-bottom: 66.67%;
  position: relative;
}

.tng-ArticleHeader-imgContainerInner {
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.tng-ArticleHeader-image {
  border-color: white;
  border-style: solid;
  border-width: 0 3px;
  height: 100%;
  width: auto;
  z-index: 1;
}

.tng-ArticleHeader-imgBackground {
  background-position: top left;
  background-size: 200% auto;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transition: transform 1200ms;
  width: 50%;
  z-index: 0;
}

.tng-ArticleHeader-imgBackground--right {
  background-position: top right;
  left: 50%;
}

.tng-ArticleHeader-titleBox {
  background-color: var(--color-gray-98);
  color: var(--color-green-28);
  max-width: 650px;
  min-height: 30px;
  padding: 10px 15px 0;
  position: relative;
  top: -30px;
  width: 90%;
  z-index: 2;
}

.tng-ArticleHeader-title {
  font-family: "Lora", serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.5px;
}
