.tng-MarkdownRenderer.is-showingMusicOnly > * {
  display: none;
}

.tng-MarkdownRenderer.is-showingMusicOnly > .tng-MarkdownRenderer-music {
  display: block;
}

.tng-MarkdownRenderer-music + .tng-MarkdownRenderer-music {
  margin-top: 16px;
}

@media (min-width: 781px) {
  /* increase the space between paragraphs */
  .tng-MarkdownRenderer p {
    margin: 1.75em 0;
  }

  /* increase the space between embedded media items */
  .tng-MarkdownRenderer-music + .tng-MarkdownRenderer-music {
    margin-top: 1.75em;
  }
}
