.tng-MarkdownRenderer.is-showingMusicOnly > * {
  display: none;
}

.tng-MarkdownRenderer.is-showingMusicOnly > .tng-MarkdownRenderer-music {
  display: block;
}

.tng-MarkdownRenderer-img {
  max-width: 100%;
}
