.tng-MarkdownRenderer-music + .tng-MarkdownRenderer-music {
  margin-top: 16px;
}

/* Music mode: in/out animation of non-music elements */
.tng-MarkdownRenderer > :not(.tng-MarkdownRenderer-music) {
  transition: transform .5s, height .2s linear .3s, margin .2s linear 0.3s;
}
.tng-MarkdownRenderer.is-showingMusicOnly > :not(.tng-MarkdownRenderer-music) {
  transform: scaleY(0);
  height: 0;
  margin: 0;
}

@media (min-width: 781px) {
  /* increase the space between paragraphs */
  .tng-MarkdownRenderer p {
    margin: 1.75em 0;
  }

  /* increase the space between embedded media items */
  .tng-MarkdownRenderer-music + .tng-MarkdownRenderer-music {
    margin-top: 1.75em;
  }
}
