.tng-Menu {
  background-color: hsla(193, 66%, 33%, 0.85);
  bottom: 0;
  height: 100vh;
  left: 100vw;
  position: fixed;
  transition: transform 250ms;
  width: calc(100vw - 63px);
}

.tng-Menu.is-visible {
  transform: translate3d(calc(63px - 100vw), 0, 0);
}

.tng-Menu-nav {
  bottom: 225px;
  position: absolute;
  right: 25px;
}

.tng-Menu-navList {
  list-style-type: none;
  margin: 0 0 0 25px;
  padding: 0;
  text-align: right;
}

.tng-Menu-navItem {
  color: hsl(0, 0%, 98%);
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4;
  text-decoration: none;
}

.tng-Menu-navItem--seperate {
  margin-bottom: 1.7em;
}

.tng-Menu-closeMenuBtn {
  background-color: hsla(75, 13%, 94%, 74%);
  bottom: 0;
  height: 45px;
  right: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.tng-Menu-closeBtnImg {
  height: auto;
  width: 35px;
}

.tng-Menu-neighbor {
  transition: transform 250ms;
}

.tng-Menu-neighbor.is-shifted {
  transform: translate3d(calc(63px - 100vw), 0, 0);
}
