.tng-PageLinks {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

.tng-PageLinks-link {
  color: hsl(138, 82%, 28%);
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
}

@media (min-width: 991px) {
  /* Make the page links take up the full width of our desktop flex layout */
  .tng-PageLinks {
    flex: 1 0 100%;
  }
}
