.tng-PageLinks {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

.tng-PageLinks-link {
  color: hsl(138, 82%, 28%);
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
}
