.tng-Article {
  background-color: hsl(0, 0%, 98%);
}

/* Sticky Bar */

.tng-Article-stickyBar {
  background-color: hsla(75, 13%, 94%, 0.95);
  bottom: 0;
  box-shadow: 0 -1px 10px hsla(0, 0%, 0%, 11%);
  height: 45px;
  left: 0;
  position: fixed;
  right: 0;
  transition: transform 250ms;
  z-index: 10;
}

.tng-Article-stickyBar.is-shifted {
  transform: translate3d(calc(63px - 100vw), 0, 0);
}

.tng-Article-smallLogo {
  height: 30px;
  margin: 7px 0 0 10px;
  width: auto;
}

.tng-Article-stickyBtns {
  float: right;
}

.tng-Article-stickyBtn {
  border-left: 1px solid hsl(193, 66%, 33%);
  height: 45px;
  width: 64px;
}

.tng-Article-fullScreenImg {
  height: auto;
  vertical-align: middle;
  width: 28px;
}

.tng-Article-viewImg {
  height: auto;
  vertical-align: middle;
  width: 32px;
}

.tng-Article-menuImg {
  height: auto;
  vertical-align: middle;
  width: 24px;
}


/* Menu */

.tng-Article-menu {
  background-color: hsla(193, 66%, 33%, 0.85);
  bottom: 0;
  height: 100vh;
  left: 100vw;
  position: fixed;
  transition: transform 250ms;
  width: calc(100vw - 63px);
}

.tng-Article-menu.is-visible {
  transform: translate3d(calc(63px - 100vw), 0, 0);
}

.tng-Article-nav {
  bottom: 225px;
  position: absolute;
  right: 25px;
}

.tng-Article-navList {
  list-style-type: none;
  margin: 0 0 0 25px;
  padding: 0;
  text-align: right;
}

.tng-Article-navItem {
  color: hsl(0, 0%, 98%);
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4;
  text-decoration: none;
}

.tng-Article-navItem--seperate {
  margin-bottom: 1.7em;
}

.tng-Article-closeMenuBtn {
  background-color: hsla(75, 13%, 94%, 74%);
  bottom: 0;
  height: 45px;
  right: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.tng-Article-closeBtnImg {
  height: auto;
  width: 35px;
}


/* Article Content */

.tng-Article-content {
  background-color: hsl(0, 0%, 98%);
  height: 100%;
  overflow-y: auto;
  transition: transform 250ms;
}

.tng-Article-content.is-shifted {
  transform: translate3d(calc(63px - 100vw), 0, 0);
}


/* View Selector */

.tng-Article-viewSelector {
  background-color: hsla(0, 0%, 0%, 85%);
  bottom: 0;
  color: hsl(0, 0%, 80%);
  display: flex;
  flex-direction: column;
  font-size: 1.625em;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transform: scale(0.75, 0.75);
  transition: transform 300ms, opacity 300ms;
  z-index: 100;
}

.tng-Article-viewSelector.is-visible {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}

.tng-Article-selectorTitle {
  margin-bottom: 5px;
}

.tng-Article-viewMode {
  color: hsl(138, 82%, 28%);
  font-size: 1.6em;
  margin-top: 15px;
  opacity: 0.85;
}

.tng-Article-viewMode.is-selected {
  font-weight: bold;
  opacity: 1;
  position: relative;
}

.tng-Article-viewMode.is-selected:before {
  background-image: url(./images/arrow-right-outline-48px-green.png);
  background-size: contain;
  content: '';
  display: block;
  height: 24px;
  left: -30px;
  position: absolute;
  top: 0.3em;
  width: 24px;
}

.tng-Article-closeSelectorBtn {
  margin-top: 70px;
}
